#tabgroupsbtn-btn > #tabgroupsbtn-btn-placeholder {
  display: none;
}
#tabgroupsbtn-btn > #tabgroupsbtn-btn-placeholder > label.toolbarbutton-text {
  display: -moz-box;
}
toolbarpaletteitem > #tabgroupsbtn-btn > #tabgroupsbtn-btn-placeholder {
  display: -moz-box;
  list-style-image: url("chrome://tabgroupsbtn/skin/group.png");
}
toolbarpaletteitem[place="palette"] > #tabgroupsbtn-btn > #tabgroupsbtn-btn-placeholder,
#tabgroupsbtn-btn[cui-areatype="menu-panel"] > #tabgroupsbtn-btn-placeholder {
  list-style-image: url("chrome://tabgroupsbtn/skin/group32.png");
}
toolbarpaletteitem > #tabgroupsbtn-btn > #tabgroupsbtn-btn-container {
  display: none;
}
#tabgroupsbtn-btn-menu > image {
  display: none;
}
#tabgroupsbtn-btn-menu > dropmarker {
  display: none;
}
#tabgroupsbtn-btn-menu > label.toolbarbutton-text {
  display: -moz-box;
}
#tabgroupsbtn-btn-menu > label.toolbarbutton-text {
  font-weight: bold;
}
#tabgroupsbtn-btn-close > image {
  margin-top: 1px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#tabgroupsbtn-btn-new > image {
  margin-top: 1px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  border-left: 1px solid rgba(128, 128, 128, 0.5);
}
.tabgroupsbtn-btn-pending {
  opacity: 0.5;
}
.tabgroupsbtn-btn-active {
  text-decoration: underline;
}
#TabsToolbar #tabgroupsbtn-btn-menu > image,
#toolbar-menubar #tabgroupsbtn-btn-menu > image,
#tabgroupsbtn-bar-toolbar #tabgroupsbtn-btn-menu > image {
  margin: 0 !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}
#tabgroupsbtn-bar > #tabgroupsbtn-bar-placeholder {
  display: none;
}
#tabgroupsbtn-bar > #tabgroupsbtn-bar-placeholder > label.toolbarbutton-text {
  display: -moz-box;
}
toolbarpaletteitem > #tabgroupsbtn-bar > #tabgroupsbtn-bar-placeholder {
  display: -moz-box;
  list-style-image: url("chrome://tabgroupsbtn/skin/tab.png");
}
toolbarpaletteitem[place="palette"] > #tabgroupsbtn-bar > #tabgroupsbtn-bar-placeholder,
#tabgroupsbtn-bar[cui-areatype="menu-panel"] > #tabgroupsbtn-bar-placeholder {
  list-style-image: url("chrome://tabgroupsbtn/skin/tab32.png");
}
toolbarpaletteitem > #tabgroupsbtn-bar > #tabgroupsbtn-bar-container {
  display: none;
}
#tabgroupsbtn-bar-tabs > .tabs-right,
#tabgroupsbtn-bar-tabs > .tabs-left {
  display: none;
}
#tabgroupsbtn-bar-toolbar #tabgroupsbtn-btn-menu > image {
  display: -moz-box;
}
#tabgroupsbtn-bar-toolbar #tabgroupsbtn-btn-menu > label.toolbarbutton-text {
  display: none;
}
#tabgroupsbtn-bar-toolbar #tabgroupsbtn-btn-new > image {
  border-left: 0;
}
.tabgroupsbtn-bar-button,
.tabgroupsbtn-bar-manual {
  padding: 3px 4px;
  background-color: rgba(205, 230, 254, 0);
  background-clip: padding-box;
  border: 1px solid;
  border-color: rgba(51, 153, 255, 0);
}
.tabgroupsbtn-bar-button > label.toolbarbutton-text,
.tabgroupsbtn-bar-manual > label.toolbarbutton-text {
  display: -moz-box;
}
.tabgroupsbtn-bar-button > image,
.tabgroupsbtn-bar-manual > image {
  display: none;
}
.tabgroupsbtn-bar-toolbar-transparent {
  background-color: transparent !important;
}
.tabgroupsbtn-bar-toolbar-windowbuttons {
  padding-right: 100px;
}
.tabgroupsbtn-bar-separator {
  -moz-appearance: none;
  -moz-border-left-colors: transparent transparent rgba(128, 128, 128, 0.5);
}
.tabgroupsbtn-bar-toolbar-transparent .tabgroupsbtn-bar-separator {
  -moz-appearance: none;
  -moz-border-left-colors: transparent transparent rgba(128, 128, 128, 0.75);
  -moz-border-right-colors: transparent transparent rgba(255, 255, 255, 0.5);
}
#main-window[tabsintitlebar][sizemode="normal"]:not([inFullscreen])[chromehidden~="menubar"] #toolbar-menubar + #tabgroupsbtn-bar-toolbar,
#main-window[tabsintitlebar][sizemode="normal"]:not([inFullscreen]) #toolbar-menubar[autohide="true"][inactive] + #tabgroupsbtn-bar-toolbar {
  margin-top: 18px;
  padding-right: 0;
}
.tabstoolbar-nomargin {
  margin-top: 0 !important;
}
