#tabgroupsbtn-menu-button > image {
	display: none;
}
#tabgroupsbtn-menu-button > label.toolbarbutton-text {
	display: -moz-box;
	font-weight: bold;
}

#tabgroupsbtn-menutab-button > image {
	border-left: 1px solid rgba(128, 128, 128, 0.5);
}

#tabgroupsbtn-close-button > image {
	margin-top: 1px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#tabgroupsbtn-new-button > image {
	margin-top: 1px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	border-left: 1px solid rgba(128, 128, 128, 0.5);
}

#customization-palette #wrapper-tabgroupsbtn-toolbaritem #tabgroupsbtn-new-button,
#customization-palette #wrapper-tabgroupsbtn-toolbaritem #tabgroupsbtn-close-button {
	display: none;
}

.tabgroupsbtn-tab-pending {
	opacity: 0.5;
}
.tabgroupsbtn-menu-active {
	font-weight: bold;
}

#TabsToolbar #tabgroupsbtn-menutab-button > image,
#toolbar-menubar #tabgroupsbtn-menutab-button > image {
	margin: 0 !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
}
